<div class="container" ng-controller="addProductCtrl">
    <h1 class="display-4">Add new product</h1>

    <br />

    <form>
        <small class="form-text text-muted">Fields marked * are required</small>
        <fieldset>
            <legend>
                Product Information
            </legend>

            <div class="form-group row">
                <label for="pName" class="col-md-2 col-form-label">Product Name*</label>
                <div class="col-md-7">
                    <input type="text" ng-model="pName" class="form-control" id="pName" placeholder="Product Name">
                    <small class="form-text text-muted">The product name helps customers identify what you are selling</small>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Product type*</label>

                <div class="col-md-7">
                    <!-- {{type}} -->


                    <div class="form-check">
                        <label for="paint" class="form-check-label">
                            <input class="form-check-input" ng-init="type='paint'" type="radio" id="paint" data-ng-model="type" data-ng-value="'paint'" ng-checked="true">
                            Paint
                        </label>
                    </div>

                    <div class="form-check">
                        <label  for="powert" class="form-check-label">
                            <input class="form-check-input" type="radio" id="powert" data-ng-model="type" data-ng-value="'powertool'">
                            Power Tool
                        </label>
                    </div>

                    <div class="form-check">
                        <label  for="handt"  class="form-check-label">
                            <input class="form-check-input" type="radio" id="handt" data-ng-model="type" data-ng-value="'handtool'">
                            Hand tool
                        </label>
                    </div>

                    <div class="form-check">
                        <label for="waters"  class="form-check-label">
                            <input class="form-check-input" type="radio" id="waters" data-ng-model="type" data-ng-value="'waterseries'">
                            Water Series
                        </label>
                    </div>

                    <div class="form-check">
                        <label for="elecs" class="form-check-label">
                            <input class="form-check-input" type="radio" id="elecs" data-ng-model="type" data-ng-value="'electricalseries'">
                            Electrical Series
                        </label>
                    </div>

                    <div class="form-check">
                        <label for="others" class="form-check-label">
                            <input class="form-check-input" type="radio" id="others" data-ng-model="type" data-ng-value="'others'">
                            Others
                        </label>
                    </div>

                    <div class="form-check">
                        <label for="promo" class="form-check-label">
                            <input class="form-check-input" type="radio" id="promo" data-ng-model="type" data-ng-value="'promo'">
                            Promotion
                        </label>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label for="desc" class="col-md-2 col-form-label">Product Description</label>
                <div class="col-md-7">
                    <textarea ng-model="desc" class="form-control" id="desc" placeholder="Description" rows="3"></textarea>
                    <small class="form-text text-muted">Additional information to help customers better understand the product</small>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Listing Status*</label>

                <div class="col-md-7">
                    <!-- {{promo}} -->

                    <div class="form-check">
                        <label for="false" class="form-check-label">
                            <input class="form-check-input" type="radio" id="false" data-ng-model="listing" data-ng-value="'false'" ng-checked="true">
                            False
                        </label>
                    </div>
                    <div class="form-check">
                        <label for="true" class="form-check-label">
                            <input class="form-check-input" ng-init="listing='false'" type="radio" id="true" data-ng-model="listing" data-ng-value="'true'" >
                            True
                        </label>
                    </div>


                </div>
            </div>

            <div class="form-group row">
                <!-- <legend>
                    Promotion Details
                </legend> -->
                <label class="col-md-2 col-form-label">Discount Amount (%)*</label>
                <div class="col-md-1">
                    <input type="number" class="form-control" ng-init="$parent.discount = 0" ng-model="$parent.discount" placeholder="%">
                </div>
            </div>



            <div class="form-group row">
                <label for="" class="col-md-2 col-form-label custom-file">Product Image*</label>
                <div class="col-md-3">
                    <input type="file" id="file2" class="custom-file-input" ng-model="photo" onchange="angular.element(this).scope().file_changed(this)">
                    <span class="custom-file-control"></span>
                    <div ng-show="selected==true">
                        <img id="photo" style="height:150px;width:auto;"/>
                    </div>


                </div>
            </div>

            <!-- <a href ng-click="dothis()">aaaaaa</a> -->



            <div class="form-group row" ng-show="selected==true">
                <div class="col-md-2">
                </div>
                <div class="col-md-5">
                    <button class="btn btn-primary" ng-click="upload()">Add product</button>

                </div>
            </div>

            <div ng-show="showbar==true">
                <p>
                    Upload progress:
                </p>
                <div class="progress col-md-9" >
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{percent}}%"></div>
                </div>
            </div>


        </fieldset>
    </form>


</div>

<script>


    $("#file2").change(function(e) {
        console.log('changed');
        for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

            var file = e.originalEvent.srcElement.files[i];
            var reader = new FileReader();
            reader.onloadend = function() {
                 $("#photo").attr("src",reader.result);
            }
            reader.readAsDataURL(file);
        }
    });
</script>







<!-- <a href data-toggle="modal" data-target="#mmmodal">aaaa</a>

<div id="productModal{{$index}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white">Add a new item</h4>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div> -->
