<div data-ng-controller="chatCtrl" id="main">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <!-- <a class="navbar-brand" href="#!/home/inbox">DBest Company™ </a> -->
            <a class="navbar-brand" href="#">
                <img src="/css/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                DBest Company
            </a>

                <!-- <img src="/css/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">DBest Company</a> -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" data-ui-sref="home.inbox">Inbox <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#!/home/history">Payments</a>
                    </li>

                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#!/home/products">Products</a>
                    </li> -->
                    <li class="nav-item active">
                        <a class="nav-link" href="#!/home/userlist">Users</a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item"  href="#!/home/addproduct">Add Product</a>
                            <a class="dropdown-item" href="#!/home/productlist">Product listing</a>
                        </div>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">Push Notifications</a>
                    </li>



                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#!/home/stats">Statistics</a>
                    </li> -->
                </ul>

                <ul class="navbar-nav" >
                    <li class="nav-item active">
                        <a class="nav-link" data-ng-click="logout()" href>Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-primary">
                    <h5 class="modal-title" id="exampleModalLabel">Send a push notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- <div class="row">
                        <div class="col-md-12">
                            Your previous message here
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-md-12">
                            Your message:
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control" ng-model="pushMsg" rows="2" placeholder="Your message to all your customers">
                            </textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">

                        </div>

                        <div class="col-md-2" style="margin-top:10px">
                            <button type="button" class="btn btn-primary btn-md" data-ng-click="sendPush(pushMsg)">Send</button>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color:white;">
        <div ui-view></div>
    </div>
</div>

<script language="javascript">
    function autoResizeDiv()
    {
        document.getElementById('main').style.height = window.innerHeight +'px';
    }
    window.onresize = autoResizeDiv;
    autoResizeDiv();
</script>
