<div class="container">
    <h1 class="display-4">List of Products</h1>

    <br />

    <h3>Currently Active Products</h3>

    <br />

    <div id="accordion" role="tablist">
        <!-- <div data-ng-repeat="">

        </div> -->
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a class="text-white" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse" href>
                            {{productName}}Something here
                            </a>
                        </h5>
                    </div>

                    <div id="collapse" class="collapse show" role="tabpanel" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/dbest-7485e.appspot.com/o/promo%2Fothers%2FD%2527BEST%20PRODUCT%20CATALOGUE%20-%20DOOR%20ACCESSORIES%20(9).jpg?alt=media&token=591f318c-3608-48a9-b77d-f81bd0d77b51" style="width:auto;height:300px"/>
                                </div>

                                <div class="col-md">

                                    <div class="row" style="margin-top:15px">
                                        <div class="col-md">
                                            <h3>Product Name</h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <h6>Description</h6>
                                        </div>
                                        <div class="col-md">
                                            This is a descrition bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla bla bla bla bla bla bla bla
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:10px">
                                        <div class="col-md-3">
                                            <h6>Product Category</h6>
                                        </div>
                                        <div class="col-md">
                                            Something here
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <h6>Promotion</h6>
                                        </div>
                                        <div class="col-md">
                                            Yes
                                        </div>
                                    </div>

                                    <div class="row" >
                                        <div class="col-md-3">
                                            <h6>Discount Percent</h6>
                                        </div>
                                        <div class="col-md">
                                            20%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>




    </div>



</div>
