<div class="container" ng-controller="listProductCtrl" ng-init="updatePromo()">
    <h1 class="display-4">List of Products</h1>

    <br />

    <h3>Currently Active Products</h3>

    <br />

    <div id="accordion" role="tablist">
        <div data-ng-repeat="p in promo track by $index">
            <div class="row" ng-if="p.promotion=='true'">





                <div class="col-md-8">

                    <div id="productModal{{$index}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h4 class="modal-title text-white">Add a new item</h4>
                                </div>

                                <div class="modal-body">

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="card">
                        <div class="card-header bg-primary" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a class="text-white" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse" href>
                                {{p.productName}}
                                </a>
                            </h5>
                        </div>

                        <div ng-if="$index != 0" id="collapse{{$index}}" class="collapse" role="tabpanel" data-parent="#accordion">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{{p.imageFileUrl}}" style="width:auto;height:300px"/>
                                    </div>

                                    <div class="col-md">

                                        <div class="row">
                                            <div class="col-md">
                                                <h3>p.productName</h3>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:20px">
                                            <div class="col-md-3">
                                                <h6>Description</h6>
                                            </div>
                                            <div class="col-md">
                                                {{p.description}}
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:10px">
                                            <div class="col-md-3">
                                                <h6>Product Category</h6>
                                            </div>
                                            <div class="col-md">
                                                {{p.productType}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <h6>Promotion</h6>
                                            </div>
                                            <div class="col-md">
                                                {{p.promotion}}
                                            </div>
                                        </div>

                                        <div class="row" ng-if="p.promotion==true">
                                            <div class="col-md-3">
                                                <h6>Discount Percent</h6>
                                            </div>
                                            <div class="col-md">
                                                {{p.discountPercent}}
                                            </div>
                                        </div>

                                        <button type="button" data-toggle="modal" data-target="#productModal{{$index}}" style="margin-top:17%" class="btn btn-outline-primary">Edit this item </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="$index == 0" id="collapse{{$index}}" class="collapse show" role="tabpanel" data-parent="#accordion">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{{p.imageFileUrl}}" style="width:auto;height:300px"/>
                                    </div>

                                    <div class="col-md">

                                        <div class="row">
                                            <div class="col-md">
                                                <h3>{{p.productName}}</h3>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:20px">
                                            <div class="col-md-3">
                                                <h6>Description</h6>
                                            </div>
                                            <div class="col-md">
                                                {{p.description}}
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:10px">
                                            <div class="col-md-3">
                                                <h6>Product Category</h6>
                                            </div>
                                            <div class="col-md">
                                                {{p.productType}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <h6>Promotion</h6>
                                            </div>
                                            <div class="col-md">
                                                {{p.promotion}}
                                            </div>
                                        </div>

                                        <div class="row" ng-if="p.promotion==true">
                                            <div class="col-md-3">
                                                <h6>Discount Percent</h6>
                                            </div>
                                            <div class="col-md">
                                                {{p.discountPercent}}
                                            </div>
                                        </div>

                                        <button type="button" style="margin-top:17%" class="btn btn-outline-primary">Edit this item </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- <button class="btn btn-primary" data-toggle="modal" data-target="#productModal">
    Add new product
</button>

<div id="productModal{{$index}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white">Add a new item</h4>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div> -->
